@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(30 14% 60%); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}
@layer base {
  :root {
    --background: 30 14% 89%;
    --foreground: 33 32% 12%;
    --card: 30 14% 89%;
    --card-foreground: 33 32% 12%;
    --popover: 30 14% 89%;
    --popover-foreground: 33 32% 12%;
    --primary: 35 64% 55%;
    --primary-foreground: 33 32% 12%;
    --secondary: 35 78% 72%;
    --secondary-foreground: 33 32% 12%;
    --muted: 30 14% 20%;
    --muted-foreground: 33 32% 70%;
    --accent: 35 92% 62%;
    --accent-foreground: 33 32% 12%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 33 32% 12%;
    --border: 30 14% 20%;
    --input: 30 14% 20%;
    --ring: 35 92% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 14% 11%;
    --foreground: 32 31% 88%;
    --card: 30 14% 11%;
    --card-foreground: 32 31% 88%;
    --popover: 30 14% 11%;
    --popover-foreground: 32 31% 88%;
    --primary: 35 64% 45%;
    --primary-foreground: 30 14% 11%;
    --secondary: 35 78% 28%;
    --secondary-foreground: 32 31% 88%;
    --muted: 30 14% 80%;
    --muted-foreground: 32 31% 88%;
    --accent: 35 92% 38%;
    --accent-foreground: 30 14% 11%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 32 29% 10%;
    --border: 30 14% 60%;
    --input: 30 14% 80%;
    --ring: 35 92% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
